<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
 
	<bean id="bean1" class="com.helloworld.utils.HelloSpring">
		<property name="sname" value="Apple" />
		<property name="sid" value="ipod" />
	</bean>
 
</beans>