<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
 
	<bean id="bean1" class="com.helloworld.utils.HelloSpring">
		<property name="sname" value="Apple" />
		<property name="sid" value="ipod" />
	</bean>
	
	
	<bean id='aspectRef' class="com.helloworld.utils.CommonAspect"></bean>
	
	<aop:config>
	    <aop:aspect id="aspectObject" ref="aspectRef">
	        <aop:pointcut id="pointcutID" expression="execution(* com.helloworld.utils.HelloSpring.*(..))" />
	        <aop:before pointcut-ref="pointcutID" method="logRequestAdvice"/>
	        <aop:after pointcut-ref="pointcutID" method="afterMethodAdvice"/>
	        
	        <aop:pointcut id="pointcutID1" expression="execution(* com.helloworld.utils.HelloSpring.*(..)) and args(sname))" />
	        <aop:before pointcut-ref="pointcutID1" method="logRequestAdvice1"/>
	    </aop:aspect>
	</aop:config>
	
 
</beans>